<%-include("header")%> <%- include('nav') %>
<script src="/scripts/createPostScript.js" defer></script>
<div class="container">
  <form class="member-container" id="create-form">
    <h2>Create Post</h2>
    <div class="error-container" id="error-container"></div>
    <label for="title">Title</label>
    <input
      type="text"
      name="title"
      id="title"
      placeholder="255 Characters Only"
    />
    <textarea
      placeholder="Text Content (optional)"
      name="postcontent"
    ></textarea>
    <button class="btn-default">Post</button>
  </form>
</div>
<%-include("footer")%>
