<%-include("header")%> <%- include('nav') %>
<script src="/scripts/memberScript.js" defer></script>
<div class="container">
  <form class="member-container" id="member-form">
    <h2>Become a member to see who and when the post has been made!</h2>
    <h3>All you need to do is answer this question.</h3>
    <div id="error-container" class="error-container"></div>
    <div id="question-container"></div>

    <input type="text" name="membership" placeholder="Enter Answer" />
    <button type="submit" class="btn-default">Submit</button>
  </form>
</div>
<%-include("footer")%>
