<nav>
  <a href="/"><h1>Home</h1> </a>
  <% if(locals.helpers.user.isSignedIn){%>
  <div>
    <%if(locals.helpers.user.tier === 2 ) {%>
    <a href="/membership" class="upgrade-to-member"
      ><div>Upgrade to Member</div></a
    ><%}%>
    <a href="/create" class="create-post"
      ><div>
        <span class="mdi mdi-plus"> </span>
        <p>Create</p>
      </div></a
    >
    <div class="profile-container" id="profile-container">
      <%=locals.helpers.user.firstName[0].toUpperCase()%><%=locals.helpers.user.lastName
      ? locals.helpers.user.lastName[0].toUpperCase() : "O"%>
    </div>
    <div class="profile-content" id="profile-content">
      <div class="profile-content-head">
        <span><%=locals.helpers.user.userName%></span>
        <h2>Hi,</h2>
        <h2><%=locals.helpers.user.firstName%></h2>
      </div>

      <div class="profile-content-body">
        <form id="signout-form" action="/signout" method="POST">
          <button id="signout-button" type="submit" class="mdi mdi-logout">
            Signout
          </button>
        </form>
      </div>
    </div>
  </div>
  <%}%> <% if(!locals.helpers.user.isSignedIn){%>
  <div>
    <a href="/sign-in" class="btn-default">Sign In</a>

    <a href="/sign-up" class="btn-default"> Sign Up </a>
  </div>
  <%}%>
</nav>
