* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Roboto;
  background-color: rgb(43, 42, 42);
  color: white;
}

.login-container {
  margin-top: 10px;
  max-width: 450px;
  height: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}
.login-contents {
  border-radius: 5px;
  border: 1px solid rgb(65, 64, 64);

  display: flex;
  gap: 5px;
  flex-direction: column;
  padding: 10px;
}
.login-contents > div {
  display: flex;
  flex-direction: column;
}
.text-error {
  color: red;
}
nav {
  background-color: rgb(43, 42, 42);
  padding: 10px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(68, 67, 67);
  align-items: center;
}

nav > div {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  z-index: 0;
  gap: 5px;
}
.upgrade-to-member {
  background-color: rgb(47, 47, 53);
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  font-weight: 900;
  border: 1px solid rgb(68, 67, 67);
}
.create-post {
  background-color: rgb(47, 47, 53);
  border-radius: 10px;
  padding: 5px;
  padding-right: 10px;
  cursor: pointer;
  font-weight: 900;
  border: 1px solid rgb(68, 67, 67);
}
.upgrade-to-member > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.create-post > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mdi-plus {
  font-size: 1.5rem;
  color: rgb(204, 203, 203);
}
nav > div > :hover:nth-child(1) {
  background-color: rgb(126, 126, 128);
  transition: ease-in-out 0.1s;
}
nav > div > :hover:nth-child(2) {
  background-color: rgb(105, 105, 109);
  transition: ease-in-out 0.1s;
}

.profile-container {
  background-color: rgb(190, 148, 148);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.profile-content {
  display: grid;
  position: absolute;
  z-index: 1;
  background-color: rgb(47, 47, 53);
  padding: 10px;
  border-radius: 10px;
  top: 105%;
  right: 0%;
  transition: opacity ease-in-out 0.2s;
  gap: 10px;
  padding: 10px;
  width: 150px;
  opacity: 0;
}
.profile-content-head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.show {
  opacity: 1;
}
#signout-button {
  cursor: pointer;
  background: none;
  border: none;
  color: white;
  font-size: 1.1rem;
}
a {
  color: inherit;
  text-decoration: none;
}
.default-input-field {
  background-color: rgb(43, 42, 42);
  border: 1px solid rgb(68, 67, 67);
  border-radius: 10px;
  padding: 5px;
  color: white;
}
.member-container {
  padding: 20px;
  background-color: rgb(47, 47, 53);
  color: white;
  border-radius: 10px;
  border: 1px solid rgb(68, 67, 67);
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 600px;
  max-width: 800px;
  margin: 10px;
}
.member-container > input {
  background-color: rgb(43, 42, 42);
  border: 1px solid rgb(68, 67, 67);
  border-radius: 10px;
  padding: 5px;
  color: white;
}
.btn-default {
  background-color: rgb(68, 67, 67);
  border: 1px solid rgb(68, 67, 67);
  padding: 6px;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 5px;
  text-align: center;
}
.btn-default:hover {
  background-color: rgb(36, 35, 35);
  transition: ease-in-out 0.1s;
}
form > label {
  font-weight: 900;
}
form > textarea {
  padding: 5px;
  background-color: rgb(43, 42, 42);
  color: white;
  border-radius: 5px;
  border: 1px solid rgb(68, 67, 67);
  resize: none;
  height: 200px;
}
.container {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  gap: 15px;
}
.posts-container {
  display: flex;
  flex-direction: column;
  width: 600px;
}
.posts-container > h2 {
  text-align: center;
}
.history-container {
  width: 300px;
  background-color: rgb(47, 47, 53);
  max-height: 400px;
  padding: 15px;
  border-radius: 10px;
}
.history-header-container {
  display: flex;
  justify-content: space-between;
}
.post-content {
  cursor: pointer;
  padding: 10px;
  margin-top: 10px;
}
.line {
  border-bottom: 1px solid rgb(68, 67, 67);
}
.post-content:hover {
  background-color: rgb(47, 47, 53);
  border-radius: 10px 10px 0px 0px;
  transition: ease-in-out 0.1s;
}
.post-body {
  margin-top: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Set number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.post-content-view {
  padding-bottom: 10px;
}
.post-body-view {
  margin-top: 5px;

  color: rgb(171, 191, 196);
}
.post-body-view > p {
  font-size: 1rem;
}

.post-body > p {
  text-align: justify;
  color: rgb(171, 191, 196);
}
.post-information-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(248, 248, 248);
  margin-bottom: 5px;
}
.post-information-container > div:nth-child(2) > span {
  color: red;
  cursor: pointer;
  font-size: 1.2rem;
}

.post-information-container > div:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-delete {
  background: none;
  border: none;
  font-size: 1.2rem;
  color: rgb(190, 148, 148);
  cursor: pointer;
}

.post-information {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  font-size: 0.9rem;
}
.post-profile-circle {
  background-color: aliceblue;
  border-radius: 50%;
  color: black;
  padding: 5px;
  font-size: 1rem;
}
.time-stamp {
  font-size: 0.8rem;
  color: rgb(196, 196, 196);
}
p {
  font-size: 0.9rem;
  color: rgb(219, 217, 217);
}
.error-container {
  margin-bottom: 10px;
}
